<%- include('../partials/header', { title: heading }) %>

<main class="main-content">
  <div class="container container-narrow">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title"><%= heading %></h1>
      </div>
      <div class="card-body">
        <form method="post" action="<%= action %>">
          <div class="form-group">
            <label class="form-label"><%= __('assets.form.assetName') %></label>
            <input class="form-control" name="name" value="<%= asset.name || '' %>" required autofocus placeholder="<%= __('assets.form.assetNamePlaceholder') %>">
          </div>
          <div class="form-group">
            <label class="form-label"><%= __('assets.form.assetType') %></label>
            <input class="form-control" name="assetType" value="<%= asset.asset_type || '' %>" required placeholder="<%= __('assets.form.assetTypePlaceholder') %>">
          </div>
          <div class="form-group">
            <label class="form-label"><%= __('assets.ipAddress') %></label>
            <input class="form-control" name="ipAddress" value="<%= asset.ip_address || '' %>" placeholder="<%= __('assets.form.ipAddressPlaceholder') %>">
          </div>
          <div class="form-group">
            <label class="form-label"><%= __('assets.form.assignedUser') %></label>
            <select class="form-select" name="assignedToUserId">
              <option value=""><%= __('assets.form.unassigned') %></option>
              <% users.forEach((user) => { %>
                <option value="<%= user.id %>" <%= String(asset.assigned_to_user_id) === String(user.id) ? 'selected' : '' %>><%= user.username %></option>
              <% }) %>
            </select>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary"><%= __('assets.form.save') %></button>
            <a href="/assets" class="btn btn-outline"><%= __('common.cancel') %></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
